BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "88";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "out0" SITE "84";
IOBUF PORT "out0" IO_TYPE=LVCMOS33;

LOCATE COMP "i2c1_scl" SITE "86";
IOBUF PORT "i2c1_scl" IO_TYPE=LVCMOS33;

LOCATE COMP "i2c1_sda" SITE "85";
IOBUF PORT "i2c1_sda" IO_TYPE=LVCMOS33;

LOCATE COMP "i2c2_scl" SITE "84";
IOBUF PORT "i2c2_scl" IO_TYPE=LVCMOS33;

LOCATE COMP "i2c2_sda" SITE "83";
IOBUF PORT "i2c2_sda" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 100.000000 MHz;
