BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "88";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "d0" SITE "36";
IOBUF PORT "d0" IO_TYPE=SSTL25_I;

FREQUENCY PORT "clk" 100.000000 MHz;
