BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "88";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "a" SITE "87";
IOBUF PORT "a" IO_TYPE=LVCMOS33;

LOCATE COMP "b" SITE "86";
IOBUF PORT "b" IO_TYPE=LVCMOS33;

LOCATE COMP "out_s" SITE "84";
IOBUF PORT "out_s" IO_TYPE=LVCMOS33;

LOCATE COMP "out_co" SITE "83";
IOBUF PORT "out_co" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 100.000000 MHz;
