BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

IOBUF PORT "clk" IO_TYPE=LVCMOS33;
IOBUF PORT "d0" IO_TYPE=LVCMOS33;
IOBUF PORT "sedclkout" IO_TYPE=LVCMOS33;
IOBUF PORT "seddone" IO_TYPE=LVCMOS33;
IOBUF PORT "sedinprog" IO_TYPE=LVCMOS33;
IOBUF PORT "sederr" IO_TYPE=LVCMOS33;
IOBUF PORT "out0" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 50.000000 MHz;
