BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "sck" SITE "31";
IOBUF PORT "sck" IO_TYPE=LVCMOS33;

LOCATE COMP "cs_n" SITE "48";
IOBUF PORT "cs_n" IO_TYPE=LVCMOS33;

LOCATE COMP "miso" SITE "32";
IOBUF PORT "miso" IO_TYPE=LVCMOS33;

FREQUENCY PORT "sck" 100.000000 MHz;

SYSCONFIG SLAVE_SPI_PORT=ENABLE ;
