BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "88";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "d" SITE "36";
IOBUF PORT "d" IO_TYPE=SSTL18_II PULLMODE=NONE DRIVE=16;

FREQUENCY PORT "clk" 100.000000 MHz;
