BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "34";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "d" SITE "35";
IOBUF PORT "d" IO_TYPE=LVCMOS33;

LOCATE COMP "bio" SITE "36";
IOBUF PORT "bio" IO_TYPE=LVCMOS33;

LOCATE COMP "out0" SITE "38";
IOBUF PORT "out0" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 100.000000 MHz;
