BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "88";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "d0" SITE "87";
IOBUF PORT "d0" IO_TYPE=LVCMOS33;

LOCATE COMP "pad_ot" SITE "84";
IOBUF PORT "pad_ot" IO_TYPE=LVCMOS33;

LOCATE COMP "pad_oc" SITE "83";
IOBUF PORT "pad_oc" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 100.000000 MHz;
