.device LCMXO2-1200

.variant LCMXO2-1200HC

.comment Lattice Semiconductor Corporation Bitstream
.comment Version:         Diamond (64-bit) 3.14.0.75.2
.comment Bitstream Status: Final Version 1.95
.comment Design name: fuzz_impl1.ncd
.comment Architecture: xo2c00
.comment Part: LCMXO2-1200HC-5TQFP100
.comment Date: Wed Jul 15 23:03:26 2026
.comment Rows: 333
.comment Cols: 1080
.comment Bits: 359640
.comment Readback:     Off
.comment Security:     Off
.comment Bitstream CRC: 0x1D42

.tile CIB_R1C12:CIB_PIC_T0
arc: S1_V02S0001 JQ0
arc: S1_V02S0101 JQ1

.tile CIB_R1C13:CIB_PIC_T_DUMMY
arc: E1_H02E0401 V01N0101

.tile CIB_R1C15:CIB_PIC_T0
arc: JA0 W1_H02E0401

.tile PB11:PIC_B0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PB15:PIC_B0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PB18:PIC_B0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PB20:PIC_B0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PB4:PIC_B0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PB6:PIC_B0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PB9:PIC_B0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PL10:PIC_L0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PL2:PIC_L0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PL3:PIC_L0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PL4:PIC_L0_VREF3
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PL5:PIC_L0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PL8:PIC_L0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PL9:PIC_LS0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE

.tile PR10:PIC_R0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PR2:PIC_R0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PR3:PIC_RS0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE

.tile PR4:PIC_R0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PR5:PIC_R0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PR8:PIC_R0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PR9:PIC_R0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PT10:PIC_T0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PT11:PIC_T0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PT12:PIC_T0
enum: PIOA.BASE_TYPE INPUT_LVTTL33
enum: PIOA.CLAMP ON
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.BASE_TYPE INPUT_LVTTL33
enum: PIOB.CLAMP ON
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PT15:PIC_T0
enum: PIOA.BASE_TYPE OUTPUT_LVTTL33
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PT16:PIC_T0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PT17:PIC_T0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile PT9:PIC_T0
enum: PIOA.DRIVE 8
enum: PIOA.OPENDRAIN OFF
enum: PIOA.PULLMODE FAILSAFE
enum: PIOB.DRIVE 8
enum: PIOB.OPENDRAIN OFF
enum: PIOB.PULLMODE FAILSAFE
enum: PIOC.DRIVE 8
enum: PIOC.OPENDRAIN OFF
enum: PIOC.PULLMODE FAILSAFE
enum: PIOD.DRIVE 8
enum: PIOD.OPENDRAIN OFF
enum: PIOD.PULLMODE FAILSAFE

.tile R2C12:PLC
arc: A1 Q1
arc: A2 Q2
arc: A3 Q3
arc: A4 Q4
arc: A5 Q5
arc: A6 Q6
arc: CLK0 H00L0100
arc: CLK1 H00L0100
arc: CLK2 H00L0100
arc: CLK3 H00L0100
arc: E1_H01E0001 Q5
arc: E1_H01E0101 Q2
arc: E1_H02E0001 V06S0003
arc: E1_H02E0301 Q3
arc: E1_H02E0401 Q4
arc: E1_H02E0601 Q6
arc: H00L0100 V02S0001
arc: H00R0300 V02S0101
arc: LSR0 H00R0300
arc: LSR1 H00R0300
arc: LSR2 H00R0300
arc: LSR3 H00R0300
arc: N3_V06N0003 Q1
word: SLICEA.K0.INIT 1111000000000000
word: SLICEA.K1.INIT 0000010101010101
word: SLICEB.K0.INIT 1111101010101010
word: SLICEB.K1.INIT 1111101010101010
word: SLICEC.K0.INIT 1111101010101010
word: SLICEC.K1.INIT 1111101010101010
word: SLICED.K0.INIT 1111101010101010
word: SLICED.K1.INIT 0000000000000000
enum: SLICEA.CCU2.INJECT1_0 NO
enum: SLICEA.CCU2.INJECT1_1 NO
enum: SLICEA.GSR DISABLED
enum: SLICEA.MODE CCU2
enum: SLICEA.REG1.REGSET RESET
enum: SLICEB.CCU2.INJECT1_0 NO
enum: SLICEB.CCU2.INJECT1_1 NO
enum: SLICEB.GSR DISABLED
enum: SLICEB.MODE CCU2
enum: SLICEB.REG0.REGSET RESET
enum: SLICEB.REG1.REGSET RESET
enum: SLICEC.CCU2.INJECT1_0 NO
enum: SLICEC.CCU2.INJECT1_1 NO
enum: SLICEC.GSR DISABLED
enum: SLICEC.MODE CCU2
enum: SLICEC.REG0.REGSET RESET
enum: SLICEC.REG1.REGSET RESET
enum: SLICED.CCU2.INJECT1_0 NO
enum: SLICED.CCU2.INJECT1_1 NO
enum: SLICED.GSR DISABLED
enum: SLICED.MODE CCU2
enum: SLICED.REG0.REGSET RESET

.tile R2C13:PLC
arc: A0 H02E0401
arc: B0 H01E0101
arc: B1 H01E0101
arc: C1 H01E0001
arc: D0 H02E0601
arc: D1 V00B0300
arc: M0 H02E0001
arc: N1_V01N0101 OFX0
arc: V00B0300 H02E0301
word: SLICEA.K0.INIT 1011101110001000
word: SLICEA.K1.INIT 1111110000110000
enum: LSR0.LSRONMUX 0

