BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "63";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "d" SITE "62";
IOBUF PORT "d" IO_TYPE=LVCMOS33;

LOCATE COMP "q" SITE "59";
IOBUF PORT "q" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 100.000000 MHz;
