BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk" SITE "88";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "d0" SITE "87";
IOBUF PORT "d0" IO_TYPE=LVCMOS33;

LOCATE COMP "bidir" SITE "84";
IOBUF PORT "bidir" IO_TYPE=LVCMOS33;

LOCATE COMP "out0" SITE "83";
IOBUF PORT "out0" IO_TYPE=LVCMOS33;

FREQUENCY PORT "clk" 100.000000 MHz;
