BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "sck" SITE "88";
IOBUF PORT "sck" IO_TYPE=LVCMOS33;

LOCATE COMP "cs_n" SITE "87";
IOBUF PORT "cs_n" IO_TYPE=LVCMOS33;

LOCATE COMP "miso" SITE "84";
IOBUF PORT "miso" IO_TYPE=LVCMOS33;

FREQUENCY PORT "sck" 100.000000 MHz;
